.button{
    border: none;
    border-radius:1rem;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    cursor: pointer;

    transition : all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgb(217, 47, 47);
        color: white;
    }

    &:active{
        transform: scale(0.9);
    }


}